.recipe-page-recipe-image {
    height: auto; 
    width: auto; 
    max-width: 100x; 
    max-height: 100px;
}

.recipe-page-user-image {
    height: auto; 
    width: auto; 
    max-width: 100x; 
    max-height: 100px;
}