.edit-recipe-image {
    width: 500px;
    height: 300px;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    background-color: #DEDEDE;
    background-position: center;
}