.header {
    display: flex;
    justify-content: space-around;
    background: #C09F80;
}

.header-left-side {
    width: 40%;
}

.header-right-side {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
}

#header-username-profile-pic {
    display: flex;
    justify-content: space-evenly;
}

#header-profile-pic {
        height: auto; 
        width: auto; 
        max-width: 50px; 
        max-height: 50px;
}